{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <h1>Python Projects</h1>

    <ol>
      <li> To be implement strict OOPs</li>
      <li> To create checklist -  make django app </li>
      <li> use checklist not ai- to make calc / converter app</li>
      <li> ✅ Implemented Django setup</li>
      <li> ✅ Added index page with css to support dark-mode - refer to readme file</li>
      <li> 
        ✅ Implemented <a href="/arcade">Arcade Pass</a>
      </li>   
      <!-- <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li> -->
      
      
    </ol>
    
    <ul>
      <li> Add all Python programs </li>
      <li> update them with input handling </li>
      <li> integrate them with HTML </li>
      <li> html should show the output </li>
      <li> NTW robust code - handle errors using try-catch blocks </li>
      <li> NTW reusable code - separating logic - using fncs </li>
      <li> should be deployable</li>
      <li> needs requirements.txt</li>
      <li> Convert prac-scripts int fncs - reusable code </li>
      <li> to support notes link - use readme file</li>
      
      <li> <a href="chmod.html">Chmod Tool()</a> </li>
      

      <!-- <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li> -->


    </ul>
</body>
</html>