{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <a href="/">&larr; Back to homepage</a>

    <h1>PRACTICE-PYTHON</h1>

    <table border="1">
      <tr>
        <td>CHILI 1</td>
        <td>CHILI 2</td>
        <td>CHILI 3</td>
      </tr>
      <tr>
        <td>
          <ol>
            <li><a href="/char-input">Character input</a> &nbsp; &nbsp;</li>
            <li><a href="/odd_even">Odd/Even</a> &nbsp; &nbsp;</li>
            <li><a href="/elem_search">Element search</a> &nbsp; &nbsp;</li>
          </ol>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>